/* .nav-links li a:hover {
  background-color: #150060;
}

.nav-links li.active a {
  background-color: #1a7dff;
}

.nav-links li a i {
  margin-right: 10px;
}

.nav-links li a span {
  vertical-align: middle;
} */

.log_out {
  margin-top: auto;
}
/* General dark mode styles */
.dark-mode {
  background-color: rgb(23, 42, 46);
  color: #fff;
}

.dark-mode .navbar {
  background-color: rgb(23, 42, 46);
  color: #fff;
}

.dark-mode .navbar-toggler {
  border-color: #fff;
}

.dark-mode .nav-link {
  color: #000000 !important;
}

.dark-mode .ionicon {
  color: #fff;
}

.dark-mode .footer {
  background-color: rgb(23, 42, 46);
  color: #fff;
}

.dark-mode .links a {
  color: #fff;
}
@media (max-width: 768px) {
  .dark-mode .navbar-toggler {
    background-color: #333;
    color: #fff;
  }
}
/* header_icon_hover_animation */

.animatsiya {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.animatsiya:hover {
  transform: translateY(-5px);
}

/* .modal.fade.show {
  display: block;
  opacity: 1;
  transform: translate(0, 220px);
} */

/* Animation for image preview */
.img-container {
  /* width: 100% !important; */
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.img-container img {
  width: 400px;
}

/* .img-container:hover {
    transform: scale(1.05);
  } */
#preview {
  width: 300px !important;
}

.img-preview {
  display: block;
  width: 100%;
  /* height: 130px; */
  transition: transform 0.3s ease-in-out;
}

.img-container:hover .img-preview {
  transform: scale(1.1);
}

/* input img _style */
.custom-file-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f1f1f1;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.custom-file-container:hover {
  background-color: #e0e0e0;
}

.custom-file-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-file-label {
  display: block;
  text-align: center;
  color: #333;
  font-weight: bold;
}

/* edit_modal */

.modal {
  transition: top 0.3s ease;
  top: calc(50% - 400px);
}

.modal.fade.show {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  transform: translate(0, 700%);
}

.modal-content {
  background-color: #ffffff;
  border-radius: 8px;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: none;
}

.custom-file-container {
  margin-top: 1px;
}

.custom-file-input {
  cursor: pointer;
}
