.log_out {
  margin-top: auto;
}
/* General dark mode styles */
.dark-mode {
  background-color: rgb(23, 42, 46);
  color: #fff;
}

.dark-mode .navbar {
  background-color: rgb(23, 42, 46);
  color: #fff;
}

.dark-mode .navbar-toggler {
  border-color: #fff;
}

.dark-mode .nav-link {
  color: #000000 !important;
}

.dark-mode .ionicon {
  color: #fff;
}

.dark-mode .footer {
  background-color: rgb(23, 42, 46);
  color: #fff;
}

.dark-mode .links a {
  color: #fff;
}
@media (max-width: 768px) {
  .dark-mode .navbar-toggler {
    background-color: #333;
    color: #fff;
  }
}
/* header_icon_hover_animation */

.animatsiya {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.animatsiya:hover {
  transform: translateY(-5px);
}
