@media screen and (max-width: 400px) {
  .best {
    margin-top: -70px;
    justify-content: center;
  }
  .footer {
    margin-top: 20px !important;
  }

  .modal {
    transition: top 0.3s ease;
    top: calc(50% - 250px) !important;
  }

  .body {
    position: relative;
    height: 40vh;
  }
}
